html {
    background-color : gray;
}
header {
     margin: 2%;
    text-align: center;
    
}
nav {
     margin: 2%;
    text-align: center;
    background-color: aliceblue;
    border: 2px solid rgb(48, 48, 48);
    margin-top: 10px;
}
/* body{

} */
.coolstuff {
   
    text-align: left;
    padding: 2%;
    margin: 2%;
    background-color: rgb(196, 196, 196);
    border: 2px solid rgb(80, 80, 80);
    min-height: 500;
}
.up {
    text-align:center;
    
}
.text{
    text-align: left;
}
.dialog {
    display: none;  /* hidden by default */
    margin-top: 2px;
    padding: 2px;
    border: 2px solid #333;

    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background: #f0f0f0;
    text-align: left;
}
button {
    
    font-size: 12px;
    cursor: pointer;
}
.next {
    background-color: transparent;
    border: none;
    font-size: 30px;
    margin-left: 25%;
    color: blue;
    text-decoration-line: underline;
    text-emphasis-color: purple;

    
}
.prev {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: rgb(8, 8, 88);
    text-decoration-line: underline;
    text-emphasis-color: purple;
    

    
}